@import '../../variables';

.tooltip {
  position: absolute;
  padding: 10px 15px;
  display: inline-block;
  color: white;
  background: $color--secondary;
  border-radius: $corners;
  box-shadow: $shadow;
  &:before {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(194, 225, 245, 0);
    border-width: 10px;
  }
  &--hover {
    position: absolute;
    bottom: -120px;
    left: 0;
    &:before {
      border-bottom-color: $color--secondary;
      bottom: 98%;
      left: 48%;
    }
    @media screen and (max-width: $tablet) {
      // display: none;
    }
  }
  &--add {
    top: 70px;
    &:before {
      border-bottom-color: $color--secondary;
      bottom: 98%;
    	left: 5%;
    }
    @media screen and (max-width: $mobile) {
      top: auto;
      background: $color--main;
      position: fixed;
      right: 20px;
      bottom: 75px;
      &:before {
        top: 100%;
      	left: 80%;
      	border: solid transparent;
      	content: " ";
      	height: 0;
      	width: 0;
      	position: absolute;
      	pointer-events: none;
        border-color: rgba(194, 225, 245, 0);
    	  border-top-color: $color--main;
    	  border-width: 10px;
      }
    }
  }

}
