%input {
 outline: 0;
 border: 0;
 border: 1px solid $offWhite;
 border-radius: 0;
 -webkit-appearance: none;
 -webkit-border-radius:0px;
 font-size: $font--medium;
 color: $textColor;
 box-sizing: border-box;
 width: 100%;
 padding-left: 10px;
 margin-bottom: 20px;
}

%overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: $color--secondary--trans;
  position: fixed;
  z-index: 9998;
}

%modal {
  position: relative;
  box-sizing: border-box;
  padding: 20px 30px;
  width: 90%;
  max-width: 30em;
  margin: 20px auto 0 !important;
  background: white;
  border-radius: 2px;
  box-shadow: $shadow;
}

%button {
  border-radius: 0 0 $corners $corners;
  position: absolute;
  background: $color--main;
  width: 100%;
  height: 30px;
  line-height: 30px;
  left: 0;
  bottom: 0;
  cursor: pointer;
  font-size: $font--small;
  font-weight: $semi-bold;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
