@import './variables.scss';

.pop-in-enter {
  opacity: 0.01;
  transform: scale(0.8);
}

.pop-in-enter.pop-in-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 150ms ease-in-out;
}

.pop-in-leave {
  opacity: 1;
}

.pop-in-leave.fade-in-leave-active {
  opacity: 0.01;
  transition: all 150ms ease-in-out;
}

.fade-in-enter {
  opacity: 0.1;
}

.fade-in-enter.fade-in-enter-active {
  opacity: 1;
  transition: all 150ms ease-in-out;
}

.fade-in-leave {
  opacity: 1;
}

.fade-in-leave.fade-in-leave-active {
  opacity: 0;
  transition: all 150ms ease-in-out;
}
