$color--main: #EC644B;
$color--secondary: #ecb54b;
$color--tertiary: #4b83ec;
$textColor: #909090;
$borderColor: #d3d3d3;
$offWhite: #F0F0F0;

$mainFont: 'Open Sans', sans-serif;
$secondaryFont: 'Montserrat', sans-serif;

$shadow: 0px 12px 44px -6px rgba(0, 0, 0, 0.3);
$padding: 20px;
$corners: 3px;

$font--large: 1.1em;
$font--medium: 1em;
$font--small: 0.8em;

$bold: 700;
$semi-bold: 600;
$regular: 400;
$light: 300;

$tablet: 993px;
$mobile: 660px;
$mobileHeight: 736px;

$transition: all 0.2s ease-in-out;
