@import '../../variables.scss';

.Login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &--title {
        padding: 0;
        margin: 0;
        color: $color--main;
        font-size: $font--large;
        font-family: $mainFont;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &--form {
        display: block;
        padding: 40px 30px;
        border-radius: $corners;
        .input {
          border-radius: 0;
            &--email,
            &--password,
            &--username {
                font-size: $font--small;
                color: inherit;
                height: 100%;
                width: 100%;
                outline: 0;
                padding: 10px 0;
                border: 0;
                border-bottom: 2px solid $color--main;
                margin-bottom: 20px;
                box-sizing: border-box;
            }
        }
    }

    &--form,
    &--login-link {
        box-sizing: border-box;
        max-width: 400px;
        min-width: 300px;
        width: 50%;
        color: inherit;
        background: white;
        box-shadow: $shadow;
    }

    &--login-link {
        padding: 20px 0;
        display: block;
        margin-top: $padding;
        font-size: $font--small;
        text-align: center;
        text-decoration: none;
        border-radius: $corners;
        span {
            color: $color--main;
        }
    }
}
