@import '../../variables.scss';

.list {
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 25px 0 0;
  @media screen and (max-width: 1090px) {
    justify-content: center;
  }
  &--items {
    background: white;
    width: 265px;
    display: inline-block;
    padding: 25px 25px 0;
    height: 130px;
    border-radius: 2px;
    box-shadow: $shadow;
    overflow: hidden;
    margin: 2px 8px;
    position: relative;
    margin-bottom: 16px;
    position: relative;
    transition: all 0.2s ease-in-out;
    &:hover,
    &:active {
      transform: scale(1.001);
      box-shadow: $shadow;
    }
    @media screen and (max-width: $tablet) {
      width: 40%;
      max-width: 420px;
    }
    @media screen and (max-width: $mobile) {
      margin: 5px 0;
      width: 100%;
    }
    &--read-more {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 20px;
      width: 100%;
      border-top: 1px solid $borderColor;
    }
    &--title {
      text-transform: uppercase;
      font-weight: 600;
      color: $mainColor;
      margin: 0 0 20px;
      font-size: 18px;
      padding-bottom: $padding;
    }
    &--date {
      position: absolute;
      right: 25px;
      top: 25px;
      margin: 0;
      color: $textColor;
      font-size: 1rem;
      font-weight: 600;
      padding-bottom: $padding;
    }
    &--note-content {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
      margin: 0;
      font-size: 1rem;
      padding-bottom: $padding;
    }
  }
}
