@import '../../variables.scss';

button {
  display: block;
  min-width: 100px;
  margin: 20px auto 0;
  padding: 10px 40px;
  color: $mainColor;
  background: white;
  font-size: $font-small;
  font-weight: $semi-bold;
  text-transform: uppercase;
  border-radius: 20px;
  border: 2px solid $mainColor;
  outline: none;
  transition: $transition;
  &:hover {
    background: $mainColor;
    border: 2px solid transparent;
    color: white;
    box-shadow: $shadow;
  }
}
