$mainColor: #3498db;
$borderColor: #d3d3d3;
$offWhite: #F0F0F0;
$mainFont: 'Roboto', sans-serif;
$shadow: 0 10px 10px -5px rgba(0,0,0,0.03);

button {
  height: 40px;
  width: 100%;
  max-width: 610px;
  background: $mainColor;
  color: white;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 2px;
  border: none;
  outline: none;
  &:hover {
    box-shadow: $shadow;
  }
}
