@import '../../variables.scss';

%input {
  outline: 0;
  border: 1px solid $borderColor;
  font-size: 1em;
  box-sizing: border-box;
  width: 100%;
  padding-left: 10px;
  margin-bottom: 20px;
}
  .overlay {
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    position: fixed;
    z-index: 9998;
    .modal {
      padding: 50px;
      width: 90%;
      max-width: 30em;
      margin: 20px auto 0 !important;
      background: white;
      border-radius: 2px;
      box-shadow: $shadow;
      .list-form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h1 {
          color: $mainColor;
          font-family: $mainFont;
          font-size: 1.5em;
          text-align: center;
          margin-bottom: 20px;
        }
        input.title,
        textarea.note {
          @extend %input;
        }
        input.title {
          height: 40px;
        }
        textarea.note {
          padding-top: 10px;
          height: 200px;
        }
      }
  }
  }
