@import "../../variables.scss";
@import "../../extends.scss";

.expanded--overlay {
  @extend %overlay;
  .expanded--modal {
    @extend %modal;
    position: relative;
    &--form-title {
      font-size: $font--large;
      color: $color--main;
      margin: 0 0 20px;
    }
    &--form-date {
      position: absolute;
      top: 20px;
      right: 30px;
      font-size: $font--medium;
      font-weight: $semi-bold;
      color: $textColor;
      margin: 0 0 20px;
    }
    &--form-note {
      margin: 0 0 50px;
    }
    &--form-close {
      border-radius: $corners;
      background: $color--main;
      width: 100%;
      height: 30px;
      line-height: 30px;
      left: 0;
      bottom: 0;
      cursor: pointer;
      font-size: $font--small;
      font-weight: $semi-bold;
      text-align: center;
      text-transform: uppercase;
      color: white;
      transition: $transition--button;
      &:hover {
        background: $color--secondary;
      }
    }
  }
}

.divider {
  display: block;
  width: 100%;
  height: 2px;
  background: rgba(0,0,0,0.2);
  margin-bottom: 20px;
}
