@import '../variables.scss';


.app-contents {
  position: relative;
  min-height: 100%;
}
.container {
  display: block;
  max-width: 1000px;
  margin: 0 auto;
  // padding: 0 40px;
  font-family: $mainFont;
  color: $textColor;
  position: relative;
}

.welcome {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  background: $color--tertiary;
  animation: fade 0.2s ease-in-out forwards;
  &--text {
    color: white;
    font-size: 1.5em;
    animation: grow 0.8s ease-in-out forwards;
  }
}

.remove {
  animation: remove 2s ease-in-out forwards;
}

@keyframes remove {
  0% {
  }
  85% {
    transform: scale(1);
    opacity: 1;
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes grow {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
