@import '../variables.scss';


.app-contents {
  position: relative;
  min-height: 100vh;
  background: $mainColor;
}
.container {
  display: block;
  max-width: 1000px;
  margin: 0 auto;
  // padding: 0 40px;
  font-family: $mainFont;
  color: $textColor;
  position: relative;
}
